.posts-grid {
    display: grid;
    grid-gap: 2rem;

    @include for-small-up {
        grid-gap: 2.5rem;
    }
}

.post-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: var(--post-card-background-color);
    box-shadow: var(--post-card-box-shadow-color);
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @include for-medium-up {
        grid-template-columns: 40% 1fr;
        grid-template-rows: 1fr;
    }

    &:hover {
        text-decoration: none;
        transform: scale(1.02) translateY(-10px);
        background-color: var(--post-card-hover-background-color);
        box-shadow: var(--post-card-hover-box-shadow-color);

        .post-card-tag {
            background-color: var(--tag-background-color);
        }
    }
}

.post-card-image {
    background-size: cover;
    background-position: center;
    min-height: 200px;
    border-radius: $border-radius;
}

.post-card-details {
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.6rem;

    @include for-large-up {
        padding: 1.9rem;
    }
}

.post-card-meta {
    color: var(--post-meta-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.post-card-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.8rem;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
    
    .post-card-tag {
        display: inline-block;
        padding: 0.22rem 0.66rem;
        font-size: 0.8rem;
        font-weight: 300;
        background-color: var(--tag-post-background-color);
        border: 1px solid var(--tag-border-color);
        color: var(--tag-text-color);
        border-radius: $border-radius;
        white-space: nowrap;
    }
}

.post-card-date {
    font-size: 0.9rem;
}

.post-card-title {
    margin: 0;
    font-weight: bold;
    font-size: large;
}

.post-card-summary {
    margin: 0;
    margin-top: 0.2rem;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @include for-medium-up {
        font-size: 1rem;
    }
}