<nav class="navbar">
  <div class="navbar-inner">
    <a href="{{ site.baseurl }}/" class="navbar-title">{{ site.title }}</a>
    <div class="navbar-links">
      {% for item in site.data.navigation %}
        <a href="{{ site.baseurl }}{{ item.link }}" class="{% if page.url == item.link %}current{% endif %}">{{ item.name }}</a>
      {% endfor %}
    </div>
    <div class="navbar-shortcuts">
      <button class="social-icon github">
          <i class="fab fa-github"></i>
      </button>
      <button class="social-icon linkedin">
          <i class="fab fa-linkedin-in"></i> 
      </button>
      <button class="theme-toggle">
          <i class="theme-icon fas fa-sun"></i>
      </button>
    </div>
    <button class="navbar-toggler">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>
