@import "variables";

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
}

.navbar-inner {
    display: flex;
    align-items: center;
    width: 60%;
}

.navbar-brand {
    font-weight: bold;
    font-size: larger;
    color: $color-light-text;
    text-decoration: none;
    flex-grow: 1;
}

.navbar-links {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $color-light-background;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 4;
    }
}

.navbar-links a {
    margin: 0 1.6rem;
    color: $color-light-text;
    text-decoration: none;
    transition: color 0.3s ease;

    @media (max-width: 768px) {
      display: block;
      padding: 1.5rem 2rem;
      margin: 0;
      color: $color-light-text;
      text-decoration: none;
      width: calc(100% - 4rem);
      box-sizing: border-box;
      text-align: center;
    }
}

.navbar-links a:hover {
    color: $color-link-hover;

    @media (max-width: 768px) {
      background-color: rgba(0, 0, 0, 0.1);
      color: $color-link-hover;
    }
}

.navbar-links a.current {
    color: $color-link-active;
}

.theme-toggle, .navbar-toggler {
    border: none;
    background: none;
    cursor: pointer;
}

.theme-icon {
    font-size: 1.1rem;
    transition: color 0.5s ease;
}

.navbar-toggler {
    display: none;

    @media (max-width: 768px) {
      display: block;
      margin-left: auto;
      z-index: 5;
      font-size: 1.5rem;
      color: inherit;
    }
}

.navbar-toggler i {
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-toggler.open i {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
  .navbar-links.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
}