.contact-section {
    background-color: var(--contact-section-background);
    padding: 0.8rem 1.5rem;
    text-align: center;
}

.contact-content {
    color: var(--contact-section-text-color);
    font-size: 1rem;
}

.contact-footer-text {
    font-size: 0.85rem;
    color: var(--text-secondary-color);
}
