@import "1-global/variables";
@import "1-global/mixins";

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--navbar-background-color);
    box-shadow: 0 2px 4px var(--navbar-shadow-color);

    .navbar-inner {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1.1rem 1.5rem;
        gap: 1.5rem;

        @include for-medium-up {
            justify-content: space-between;
            padding: 1.3rem 1.5rem;
        }

        .navbar-title {
            flex: 1;
            font-weight: bold;
            font-size: 1.4em;
            color: var(--navbar-title-color);

            &:hover {
                text-decoration: none;
            }

            @include for-medium-up {
                font-size: 1.55em;
            }

            @include for-large-up {
                font-size: 1.7em;
            }
        }

        .navbar-links {
            display: none;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: var(--background-color);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 5;
            transition: opacity 0.5s ease, visibility 0.5s ease;
            gap: 4rem;

            &.open {
                display: flex;
                opacity: 1;
                visibility: visible;
            }

            @include for-medium-up {
                display: flex;
                opacity: 1;
                visibility: visible;
                position: static;
                width: auto;
                height: auto;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                z-index: 1;
            }

            a {
                color: var(--navbar-links-color);
                text-decoration: none;

                &:hover, &.current {
                    color: var(--primary-color);
                }
            }

            .navbar-contact-button {
                @include base-button-style;
            }    
        }

        .navbar-shortcuts {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1.5rem;

            @include for-medium-up {
                flex: 1;
                gap: 1.75rem;
            }

            @include for-large-up {
                gap: 2rem;
            }

            @include for-large-up {
                gap: 2.25rem;
            }
        }

        .theme-toggle, .navbar-toggler {
            @include base-icon-style;
        }

        .theme-toggle i {
            font-size: 1.2rem;
            color: var(--icon-color);
        }

        .navbar-toggler {
            display: block;
            z-index: 10;

            i {
                font-size: 1.5rem;
                color: var(--icon-color);
                transition: transform 0.3s ease, color 0.3s ease;
            }

            @include for-medium-up {
                display: none;
            }
        }

        .navbar-toggler.open i {
            transform: rotate(180deg);
        }
    }
}