@import "1-global/mixins";

body {
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

.content-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    overflow-x: hidden;

    @include for-medium-up {
        padding: max(1rem, 0.5vw) max(1.5rem, 1vw);
    }

    @include for-large-up {
        padding: max(1rem, 0.75vw) max(1.5rem, 1.5vw);
    }

    @include for-xlarge-up {
        max-width: 1170px;
        padding: max(1rem, 1vw) max(1.5rem, 2vw);
    }
}

.content-wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: $border-radius;
}

.content-wrapper img.portrait {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;

    @include for-small-up {
        width: 50%;
    }

    @include for-medium-up {
        width: 35%;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-text-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
}

ul, ol {
    padding-left: 1.25rem;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: var(--link-color);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

table {
    border-collapse: separate;
    border: solid var(--table-border-color) 1px;
    border-radius: $border-radius;
    width: auto;
    margin: 0 auto; // Center table

    th, td {
        border-left: solid var(--th-border-color) 1px;
        border-top: solid var(--td-border-color) 1px;
        padding: 0.5rem;
        text-align: center;
    }

    th {
        border-top: none;
    }

    td:first-child, th:first-child {
        border-left: none;
    }
}

blockquote {
    padding-left: 1rem;
    margin-left: 0;
    border-left: 5px solid var(--primary-light-color);
    display: block;
    position: relative;
    overflow: hidden;
}