$primary-color: #426FEB;
$primary-light-color: lighten($primary-color, 10%);

:root {
    --background-color: #ffffff;
    --text-color: #1b1b1b;
    --heading-text-color: #000000;
    --primary-color: #{$primary-color};
    --primary-light-color: #{$primary-light-color};
    --link-color: var(--primary-color);
    --icon-color: var(--text-color);
    --syntax-highlighter-background: #151515;

    --post-card-background-color: var(--background-color);
    --post-card-shadow-color: rgba(0, 0, 0, 0.2);
    --post-meta-color: var(--text-color);

    // tag colors
    --tag-background-color: var(--primary-color);
    --tag-border-color: transparent;
    --tag-text-color: #ffffff;

    // table colors
    --table-border-color: var(--primary-light-color);
    --th-border-color: var(--primary-light-color);
    --td-border-color: var(--primary-light-color);

    // navigation bar colors
    --navbar-background-color: var(--background-color);
    --navbar-title-color: var(--heading-text-color);
    --navbar-links-color: var(--text-color);
    --navbar-shadow-color: rgba(0, 0, 0, 0.1);
}
  
:root[dark] {
    --background-color: #131313;
    --text-color: #ded8d8;
    --heading-text-color: #e9e9e9;
    --primary-color: #{$primary-color};
    --primary-light-color: #{$primary-light-color};
    --link-color: var(--primary-color);
    --icon-color: var(--text-color);
    --syntax-highlighter-background: #181717;

    // post colors
    --post-card-background-color: var(--background-color);
    --post-card-shadow-color: rgba(255, 255, 255, 0.2);
    --post-meta-color: var(--text-color);

    // tag colors
    --tag-background-color: #232224;
    --tag-border-color: transparent;
    --tag-text-color: var(--text-color);

    // table colors
    --table-border-color: var(--primary-light-color);
    --th-border-color: var(--primary-light-color);
    --td-border-color: var(--primary-light-color);

    // navigation bar colors
    --navbar-background-color: var(--background-color);
    --navbar-title-color: var(--heading-text-color);
    --navbar-links-color: var(--text-color);
    --navbar-shadow-color: rgba(255, 255, 255, 0.1);
}