$primary-color: #426FEB;
$primary-light-color: lighten($primary-color, 10%);

:root {
    --background-color: #ffffff;
    --text-color: #1b1b1b;
    --text-secondary-color: #666;
    --heading-text-color: #000000;
    --primary-color: #{$primary-color};
    --primary-light-color: #{$primary-light-color};
    --link-color: var(--primary-color);
    --icon-color: var(--text-color);
    --icon-hover-color: var(--primary-color);
    --syntax-highlighter-background: #151515;
    --divider-color: #adadad;
    --button-background-color: var(--primary-color);
    --button-hover-background-color: #f4f5f6;
    --button-text-color: white;
    --button-hover-text-color: var(--text-color);

    --post-card-background-color: var(--background-color);
    --post-card-shadow-color: rgba(0, 0, 0, 0.2);
    --post-meta-color: var(--text-secondary-color);

    // tag colors
    --tag-background-color: var(--primary-color);
    --tag-border-color: transparent;
    --tag-text-color: #ffffff;

    // table colors
    --table-border-color: var(--primary-light-color);
    --th-border-color: var(--primary-light-color);
    --td-border-color: var(--primary-light-color);

    // navigation bar colors
    --navbar-background-color: transparent;
    --navbar-title-color: var(--heading-text-color);
    --navbar-links-color: var(--text-color);
    --navbar-shadow-color: rgba(0, 0, 0, 0.1);

    // contact section colors
    --contact-section-background: #f4f5f6;
    --contact-section-text-color: #333;

    // pagination Colors
    --pagination-background: #ffffff;
    --pagination-text-color: var(--text-color);
    --pagination-border-color: var(--primary-light-color);
    --pagination-hover-background: #f4f5f6;
    --pagination-hover-text-color: var(--text-color);
    --pagination-current-background: var(--primary-color);
    --pagination-current-text-color: white;

    // dynamic background colors
    --dynamic-background-color-primary: #000000;
    --dynamic-background-color-secondary: #000000;

    // hero section colors
    --hero-image-background-color: #d2d2d4;
}
  
:root[dark] {
    --background-color: #111115;
    --text-color: #ded8d8;
    --text-secondary-color: #929292;
    --heading-text-color: #e9e9e9;
    --primary-color: #{$primary-color};
    --primary-light-color: #{$primary-light-color};
    --link-color: var(--primary-color);
    --icon-color: var(--text-color);
    --icon-hover-color: var(--primary-color);
    --syntax-highlighter-background: #18181c;
    --divider-color: #636363;
    --button-background-color: var(--primary-color);
    --button-hover-background-color: #18181c;
    --button-text-color: white;
    --button-hover-text-color: var(--text-color);

    // post colors
    --post-card-background-color: var(--background-color);
    --post-card-shadow-color: rgba(0, 0, 0, 0.5);
    --post-meta-color: var(--text-secondary-color);

    // tag colors
    --tag-background-color: #1b1b21;
    --tag-border-color: transparent;
    --tag-text-color: var(--text-color);

    // table colors
    --table-border-color: var(--primary-light-color);
    --th-border-color: var(--primary-light-color);
    --td-border-color: var(--primary-light-color);

    // navigation bar colors
    --navbar-background-color: transparent;
    --navbar-title-color: var(--heading-text-color);
    --navbar-links-color: var(--text-color);
    --navbar-shadow-color: rgba(0, 0, 0, 0.5);

    // contact section colors
    --contact-section-background: #18181c;
    --contact-section-text-color: #f4f5f6;

    // pagination colors
    --pagination-background: var(--background-color);
    --pagination-text-color: var(--text-color);
    --pagination-border-color: var(--primary-light-color);
    --pagination-hover-background: #18181c;
    --pagination-hover-text-color: var(--text-color);
    --pagination-current-background: var(--primary-color);
    --pagination-current-text-color: white;

    // dynamic background colors
    --dynamic-background-color-primary: #ffffff;
    --dynamic-background-color-secondary: #ffffff;

    // hero section colors
    --hero-image-background-color: #1a1a1e;
}